.mentor{
	padding: 24px;
	background-color: rgba(234, 215, 252, 0.548);
}

.mentor img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}

.mentor__title{
	text-align: center;
	margin-bottom: 24px;
}

.mentor__text{
	text-align: center;
}

